* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(8, 8, 17);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(47, 47, 90);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(151, 151, 238);
    font-size: large;
}

.left {
    font-size: 1.5rem;
}

#firstSection {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
    margin-top: 60px;
    text-align: center;
}

.rightSection {}

.rightSection img {
    width: 80%;
    margin: 30px 0;
}

.Mt {
    color: rgb(111, 110, 207);
}

main hr {
    background-color: rgb(71, 71, 163);
    border: 0;
    height: 2px;
    margin: 80px;
    margin-top: 150px;
}

#secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.grey {
    color: grey;
    margin-left: 35vw;
    font-size: large;
}

#secondSection>h1 {
    margin-left: 30vw;
    margin-top: 10px;
    font-size: 35px;
}

.container {
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    gap: 20px;
}

.box {
    margin-top: 40px;
    background-color: rgb(22, 21, 37);
    color: rgb(159, 170, 235);
    width: 20vw;
    height: 55vh;
    border-radius: 10px;
}

.box p {
    margin-top: 10px;
    margin: 10px 20px;
    text-align: center;

}

.box h1 {
    text-align: center;
    margin-top: 8px;
}

#thirdSection {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
    align-items: center;
}

.lbox {
    margin-top: 20px;
    width: 80vw;
    height: 45vh;
    text-align: center;
    color: rgb(218, 223, 250);
}

.lbox h1 {
    margin-bottom: 25px;
    font-size: 40px;
}

.lbox p {
    font-size: large;
}
#thirdSection .main-container{
    width: 80vw;
    height: 30vh;
    display: flex;
    justify-content: center;
}
#thirdSection .container-skills{
    width: 20vw;
    height: 45vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(75, 75, 109);
    margin: 0 25px;
    border-radius: 10px;
    color: rgb(175, 175, 190);
}
#thirdSection .container-skills p{
    margin: 15px;
    text-align: center;
}
.heading{
    margin: 50px 0;
    color: rgb(203, 191, 207);
}
.pink {
    color: pink;
    cursor: pointer;
}

.lavender {
    color: rgb(128, 98, 209);
    font-size: 50px;
    margin: 60px 220px;

}

.rights {
    display: flex;
    justify-content: center;
    color: grey;
}
.line{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 36px 120px;
    display: flex;
    gap: 20px;

}
.fcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
}

.fcontainer li {
    list-style: none;
    margin: 0 30px;
    font-size: larger;
    color: rgb(93, 74, 143);
}
.fcontainer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fcontainer a{
    text-decoration: none;
}
.fcontainer li:hover{
    color: gray;
}